<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="<%= baseURL %>"><%= appName %></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if (user === undefined) { %>
                    <li>
                       <a class="button1" style="margin-right: 10px;" href="<%= baseURL %>/login">Login</a>
                    </li>
                    <li>
                        <a class="button3" href="<%= baseURL %>/signup">Signup</a>
                    </li>
                <%} else { %>
                    <li>
                        <a class="button3" style="margin-right: 10px;cursor: pointer;"><%= user.name %></a>
                    </li>
                    <li>
                        <a class="button3" href="<%= baseURL %>/logout">Logout</a>
                    </li>
                <%}%>
            </ul>
        </div>
    </div>
</nav>