<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

<div class="site-content">
    <div class="map-bg" style="background-image: url('<%= baseURL %>/images/map.PNG');">
        <div class="map-bg-overlay">
            <div class="home-form-area">
                <h1 class="text-center" style="font-weight: bold; margin-top: 0;">Login</h1>
                <form>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                    </div>
                    <button type="button" class="button2" id="login-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("body").addClass("login-page");

    $(document).ready(function() {

        $("#login-btn").click(function(e) {
            
            var email = $("#email").val();
            var password = $("#pwd").val();

            // Peform Validation Here Later
            var validation = validateLoginForm(email, password);

            if(validation === "valid") {
                $.ajax({
                    url: "<%= baseURL %>/login",
                    method: "POST",
                    dataType: "json",
                    data: {
                        email: email,
                        password: password,
                    },
                    success: (res) => {
                        if(res === 200) {
                            window.location.href = "<%= baseURL %>/"
                        }   
                        else if(res === 503) {
                            alert("Invalid Credentials");
                        }                 
                    },
                    error: (err) => {
                        console.log(err);
                    }
                });
            }
            else {
                alert(validation);
            }
        })
    });
</script>

<%- include('partials/footer.ejs') %>