<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

<div id="claimModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Claim This Business Listing</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Name:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Enter business name" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="phone">Phone:</label>
                        <div class="col-sm-10">          
                            <input type="text" class="form-control" id="phone" placeholder="Enter phone #" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="website">Website:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="website" placeholder="Enter website URL" name="website">
                        </div>
                    </div>
                    <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="button2" style="padding: 8px 12px;" id="claim-btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
  
    </div>
</div>

<div class="gallery-overlay">
    <span id="close-gallery-btn">
        <i class="fa fa-times"></i>
    </span>
</div>

<div class="site-content container">
    <div class="restaurant-cover-images">
        <div class="primary-image">
            <img src="<%= baseURL %>/images/food5.webp"/>
        </div>
        <div class="secondary-images-gallery">
            <div class="grid-item" style="background-image: url('<%= baseURL %>/images/food1.jpeg');">

            </div>
            <div class="grid-item" style="background-image: url('<%= baseURL %>/images/food2.jpeg');">
                
            </div>
            <div class="grid-item" style="background-image: url('<%= baseURL %>/images/food3.webp');">
                
            </div>
            <div class="grid-item" style="background-image: url('<%= baseURL %>/images/food4.webp');" id="view-gallery-handler">
                <div class="overlay">
                    <span>View Gallery</span>
                </div>
            </div>
        </div>
    </div>

    <div class="restaurant-description">
        <div class="row">
            <div class="col-md-8">
                <div class="restaurant-info-section">
                    <h2><%= restaurant.name %></h2>
                    <div class="restaurant-location-text">
                        <i class="fas fa-map-marker-alt"></i> <%= restaurant.address %>
                    </div>
                    <div class="restaurant-socials">
                        <ul>
                            <% if (restaurant.facebook.trim() != "") { %>
                                <li>
                                    <a href="<%= restaurant.facebook %>" target="_blank"><i class="fab fa-facebook"></i></a>
                                </li>
                            <% } %>
                            <% if (restaurant.website.trim() != "") { %>
                                <li style="font-size: 23px; margin-top: 3px;">
                                    <a href="<%= restaurant.website %>" target="_blank"><i class="fas fa-link"></i></a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <p><%= restaurant.description %></p>

                <button class="button4" id="claim-listing-btn">Claim this Business Listing</button>
                <% if(user?.type === "admin") { %>
                    <a style="cursor: pointer;" href="<%= baseURL %>/businesses/<%= restaurant.id %>" class="button4">Edit Restaurant</a>
                <%}%>                
            </div>
            <div class="col-md-4">
                <div class="restaurant-map-window">
                    <div>
                        <span class="d-block" style="font-size: 18px;">Call</span>
                        <a class="clickable-text" href="#"><%= restaurant.phone %></a>
                    </div>
                    <div style="margin-top: 10px;">
                        <span class="d-block" style="font-size: 18px;">Location</span>
                        <div style="height: 234px" id="map">
                            
                        </div>
                        <div style="margin-top: 6px;">
                            <button class="button2" style="padding: 6px 10px;">Directions</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#claim-listing-btn").click(function() {
            if('<%= user %>'  === '') {
                alert("You need to Login First.");
                window.location.href = "<%= baseURL %>/login";
            }            
            $("#claimModal").modal("show");
        });

        $("#view-gallery-handler").click(function() {
            $(".gallery-overlay").fadeIn();
            $("body").css("overflow", "hidden");
        });

        $("#close-gallery-btn").click(function() {
            $(".gallery-overlay").fadeOut();
            $("body").css("overflow", "auto");
        });

        $("#claim-btn").click(function() {

            var name = $("#name").val();
            var phone = $("#phone").val();
            var email = $("#email").val();
            var website = $("#website").val();

            // Perform Validation Here Later
            var validation = validateClaimBusinessForm(name, phone, email, website);
            if(validation === "valid") {
                $.ajax({
                    url: "<%= baseURL %>/restaurant/<%= restaurant.id %>/claimBusiness",
                    method: "POST",
                    dataType: "json",
                    data: {
                        name: name,
                        phone: phone,
                        email: email,
                        website: website,
                    },
                    success: (res) => {
                        if(res === 200) {
                            alert("Your Request has been submitted for verification.");
                            $("#claimModal").modal("hide");
                        }
                    },
                    error: (err) => {
                        console.log(err);
                    }
                });
            }
            else {
                alert(validation);
            }
        })
    });
</script>

<script>
    function initMap() {
        var latitude = <%= restaurant.latitude %>;
        var longitude = <%= restaurant.longitude %>;
        var mapProp = {
            center: new google.maps.LatLng(latitude,longitude),
            zoom: 15,
            mapTypeControlOptions: {
              mapTypeIds: [],
            },
        };
        
        var map = new google.maps.Map(document.getElementById("map"),mapProp); 

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(latitude, longitude),
            icon: "<%= baseURL %>/images/marker.png",
            map: map,
        });

        var infowindow = new google.maps.InfoWindow({
            content: `
                <div>
                    <h4>${'<%= restaurant.name %>'}</h4>
                    <h6>${'<%= restaurant.address %>'}</h6>
                </div>
            `
        });
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
        }); 
    }    
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= APIKey %>&callback=initMap"></script>

<%- include('partials/footer.ejs') %>