<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

<div id="mobile-reveal-list-btn">
    <span><i class="fas fa-list"></i></span>
</div>

<div class="site-content">
    <div class="results-area">
        <div class="restaurants-list-area">
            <div class="suggestions-info">
                <div>
                    Suggestions for <b><%= search %></b> 
                    <% if (location != "") { %>
                        near <b><%= location %></b>
                    <% } %>
                </div>
                <div>
                    <span id="reveal-map-btn" class="clickable-text"><i class="fas fa-map"></i>&nbsp;View on Map</span>
                </div>
            </div>
            <div class="restaurants-list-wrapper">
                <ul class="restaurants-list">
                    <% for (let i = 0; i < restaurants.length; i++) { %>
                        <li>
                            <div class="restaurant-primary-info">
                                <div class="restaurant-img-wrapper">
                                    <img class="restaurant-image" src="<%= baseURL %>/images/restaurant1.jpeg">
                                </div>
                                <div class="restaurant-info-wrapper">
                                    <a class="restaurant-name-link" href="<%= baseURL %>/restaurant/<%= restaurants[i].id %>"><%= restaurants[i].name %></a>
                                    <div class="restaurant-addr-info">
                                        <i class="fas fa-map-marker-alt"></i> <%= restaurants[i].address %>
                                    </div>
                                    <div class="restaurant-short-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla a leo non pharetra. In fermentum dolor sit amet arcu tincidunt finibus. Sed sed suscipit massa. Maecenas porta venenatis turpis, id blandit magna commodo sed.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% } %>
                    
                </ul>
            </div>
        </div>
        <div class="map-area">
            <div class="map-wrapper" id="map">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {     

        $(".navbar>div").removeClass("container").addClass("container-fluid");

        $("#reveal-map-btn").click(function() {
            $("body").addClass("results-list-hidden-map-revealed");
            setTimeout(() => {
                $(".map-area").css("z-index", "0");
            }, 500);
        });

        $("#mobile-reveal-list-btn").click(function() {
            $(".map-area").css("z-index", "-1");
            $("body").removeClass("results-list-hidden-map-revealed");
        });
    });
</script>


<script>
    function initMap() {
        
        var latitude = <%= restaurants[0].latitude %>;
        var longitude = <%= restaurants[0].longitude %>;
        var mapProp = {
            center: new google.maps.LatLng(latitude,longitude),
            zoom: 15,
            mapTypeControlOptions: {
                mapTypeIds: [],
            },
        };
        
        var map = new google.maps.Map(document.getElementById("map"),mapProp);        

        <% for(var i = 0; i < restaurants.length; i++) { %>
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(<%= restaurants[i].latitude %>,<%= restaurants[i].longitude %>),
                map: map
            });
            addInfoBox(map, marker, `<%= restaurants[i].name %>`, `<%= restaurants[i].address %>`);
        <%}%>          
    }
    function addInfoBox(map, marker, name, address) {
        var infowindow = new google.maps.InfoWindow({
            content: `
                <div>
                    <h2>${name}</h2>
                    <h4>${address}</h4>
                </div>
            `
        });
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
        }); 
    }    
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= APIKey %>&callback=initMap"></script>
<%- include('partials/footer.ejs') %>